<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Designation</th>
      <th>Salary</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Swapnali</td>
      <td>Software Developer</td>
      <td>4</td>
      <td>Pimpri Jalsen</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Avinash</td>
      <td>Research Scientist</td>
      <td>8</td>
      <td>Nighoj</td>
    </tr>
  </tbody>
</table>